<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1" metadata-complete="true">

	<display-name>Welcome to Tomcat</display-name>
	<description>
     Welcome to Tomcat
  </description>

	<!-- 서블릿클래스 정의 -->
	<servlet>
		<servlet-name>my</servlet-name>
		<servlet-class>com.kosta.t0501.MyServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>count</servlet-name>
		<servlet-class>com.kosta.t0501.CountServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>param</servlet-name>
		<servlet-class>com.kosta.t0501.ParamServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>calc</servlet-name>
		<servlet-class>com.kosta.t0501.CalcServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>calc2</servlet-name>
		<servlet-class>com.kosta.t0502.CalcServlet2</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>emp</servlet-name>
		<servlet-class>com.kosta.t0502.EmpServlet</servlet-class>
	</servlet>

	<!-- 가상의 경로 정의(url-pattern) -->
	<servlet-mapping>
		<servlet-name>my</servlet-name>
		<url-pattern>/my</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>count</servlet-name>
		<url-pattern>/count.action</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>param</servlet-name>
		<url-pattern>/0501/param</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>calc</servlet-name>
		<url-pattern>/calc.do</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>calc2</servlet-name>
		<url-pattern>/calc2.do</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>emp</servlet-name>
		<url-pattern>/emp.do</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>hello.html</welcome-file>
	</welcome-file-list>

</web-app>
